In [1]:
%matplotlib inline

from time import time
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd

import os
from os import path 
from time import time

In [131]:
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "TRAS.settings")
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
import django
from django.core.exceptions import ObjectDoesNotExist
django.setup()
from django.db import transaction
from django.conf import settings

from django_pandas.io import read_frame

from proto.models import Attraction, Review

from nltk import tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from asgiref.sync import sync_to_async
import nltk

In [206]:
# 디장고 all 리뷰 데이터 불러오고. bulk load?
def preprocess(Reviews_df):
    result_list = [[Review.title,tokenize.sent_tokenize(Review.text)] for Review in Reviews_df]
    return result_list

def sentiment_analysis(Review_list):
    result_list = [[Review[0], sentiment(Review[1])] for Review in Review_list]
    return result_list

def sentiment(review)
    sid = SentimentIntensityAnalyzer()
    
    sid.polarity_scores(Review_sentences[1])['compound']
    result_list = []
    for sentence in sentences_list:
        # print(sentence) 샘플만 작게 해서 테스트
        ss = 
        
        '''
        for k in sorted(ss):
            print('{0}: {1}, '.format(k, ss[k]), end='')
        print()
        '''
        #compound: 0.8316, neg: 0.0, neu: 0.254, pos: 0.746,
    return pd.DataFrame(result_list, columns=['sentence','sentiment'])


def sentences_extraction(sent_df, sample_size):
    sent_df.sort_values(by=['sentiment'],inplace=True)
    
    positive_sample = sent_df[-int(sample_size):][::-1]
    negative_sample = sent_df[:int(sample_size)]
    
    return positive_sample, negative_sample

#star기반 수축 감정 사전 구축

In [76]:
Attractions_query = Attraction.objects.all()      
Attractions_df = read_frame(Attractions_query)

In [81]:
Attractions_name = Attractions_df.name.tolist()

In [73]:
query = Review.objects.all()
All_Reviews_df = read_frame(query)

In [199]:
All_Reviews_df.head()

,id,attraction,star,title,text,date
0,1,Gyeongbokgung Palace,5,"Fantastic area, don t miss",I had the chance to visit the site after a bus...,2019-12-01
1,2,Gyeongbokgung Palace,4,Pretend you're in a period K-drama,Rent a hanbok and soak in the ancient Joseon v...,2019-10-01
2,3,Gyeongbokgung Palace,4,Love to See and Feel the History,Walking around the palace is a unique experien...,2020-02-01
3,4,Gyeongbokgung Palace,5,What an experience,We had a layover in South Korea and decided to...,2020-02-01
4,5,Gyeongbokgung Palace,5,good to visit,you can see the blue house in this area and th...,2020-02-01

In [201]:
sentence_list = preprocess(All_Reviews_df[::10])

In [202]:
sentsent_df = sentiment_analysis(sentence_list)
sentsent_df.head()

                                            sentence  sentiment
0  I had the chance to visit the site after a bus...     0.6801
1   We visited during a layover at the Incheon Ai...     0.0000
2   If you ever have a long lay-off and land befo...     0.0000
3          I could not stand the airport for 8 hours     0.0000
4   I researched about how this was the principle...     0.0000

In [204]:
pos_sample, neg_sample = sentences_extraction(sentsent_list, sample_size = 10)
print("neg_sample")
for one_neg_sample in neg_sample.values:
    print(one_neg_sample)

neg_sample
['It is difficult to be affected by the torture cell displays when you are surrounded by screaming kids whose teachers do not control them.'
 -0.8625]
['As others have mentioned, if you are unfortunate enough to coincide your visit with a school tour then this really detracts from the experience.'
 -0.4588]
['Avoid using it during rush hour.' -0.296]
['Fun.Well thought out museum that gives an insight into Korea’s history and their relationship to Japan.'
 0.0]
['The museum staff also do not intervene.' 0.0]
['I also liberated a young man who had been locked in a cell by his ‘friends’.This district is lined with international cages and retail stores.'
 0.0]
["But, there's nothing fantastic.- The entrance from the east seems to be main gate with a parking lot."
 0.0]
['Many family visitors.' 0.0]
['People who live in Seoul come and rest here.' 0.0]
['You can spend around 30 mins to 1 hour here.' 0.0]

In [ ]:
# 아래는 리뷰가 다 사라졌길래 다시 bulk create한 내용

In [54]:
def review_date(date_string):
    dict = {
        ' January ':'-01-01',
        ' February ':'-02-01',
        ' March ':'-03-01',
        ' April ':'-04-01',
        ' May ':'-05-01',
        ' June ':'-06-01',
        ' July ':'-07-01',
        ' August ':'-08-01',
        ' September ':'-09-01',
        ' October ':'-10-01',
        ' November ':'-11-01',
        ' December ':'-12-01',
    }
    
    return date_string[-4:] + dict[date_string[:-4]]

In [66]:
review_path = 'C:/Users/taehee/Documents/GitHub/tripReviewAnalysisSystem/크롤러-전처리/원시자료/'
Attraction_list = Attraction.objects.all()
Reviews_list = []
for the_Attraction in Attraction_list:
    Attraction_Reviews_df = pd.read_csv(review_path+ the_Attraction.name+".csv", engine='python', index_col = 0, encoding = 'utf-8')
    for Review_list in Attraction_Reviews_df.values[2:]:
        Reviews_list.append(Review(attraction = the_Attraction,
                       star = Review_list[0],
                      title = Review_list[1],
                      text = Review_list[2],
                      date = review_date(Review_list[3])))

In [69]:
len(Reviews_list)

18534

In [72]:
for num in range(19):
    start = (num-1)*1000
    if start <0:
        start = 0
    end = num*1000
    if end > 18534:
        end = 18534
    Review.objects.bulk_create(Reviews_list[start:end])

In [61]:
max_len = 0
max_text = ""
for Review in Reviews_list:
    if len(Review.text) > max_len:
        max_text = Review.text
        max_len = len(Review.text)

In [62]:
print(max_len)

9136

In [63]:
print(max_text)

The best military museum I’ve ever seen.  Korea’s War Memorial has about 650,000 square-feet under roof, and more than 60 fixed-wing aircraft, choppers, tanks, artillery pieces, missiles, and naval vessels outside in the rain.  You get a crash course in the history of Korean warfare from neolithic spear-fights to modern times:  civil wars between ancient ethnic groups, invasions by the Chinese, Japanese, Mongols, Manchus and so on; the centuries-long Japanese pirate fleet threat; the 19th century attacks by various Western powers; all the way up to the Vietnam War, when more than a third of a million ROK troops supported Saigon.Most of these wars, battles, sieges, victories and defeats will be terra incognita to foreign visitors.  But it’s all interesting and well-presented.  Curatorship is outstanding.   21st century technology helps: if you see locals watching any animation on pirate fleets, city-wall sieges, et cetera, stop and watch the spectacle with them.Most military museums focus on generals and admirals, soldiers and sailors, strategy, tactics, and the various regiments or battleships involved in the fighting.  The War Memorial goes beyond the fighting forces to also provide information about non-combatants.  This is underscored before you even walk into the museum, in monumental statues of both soldiers and the victims of war (see The Warriors and The Victims photos).  Not surprisingly, half the indoor area is focused on the 1950s Korean War.  I walked in with a fair grasp of the military changes of fortune in that war: such as the North’s surprise attack, which captured Seoul within 48 hours.  What I’d never known before was that not only did the Northerners carefully plan exactly how and when they’d attack, but they also carefully planned the sweeping atrocities they would inflict on the civilian population of Seoul as soon as they captured the city.  If you were on their list, you and your family disappeared within 48 hours of takeover; thousands were on their list.The museum’s information on the war is sweeping.  The commitments made to the North by Stalin and Mao prior to the attack, Douglas MacArthur’s determination to turn the tide with the Inchon landings against the opinion of the US Joint Chiefs of Staff, and the massive winter counter-attack of Chinese forces, are all presented clearly and cogently.  The Korean War is also unusual because of the ROK’s powerful ally: the United Nations fought on their side.  There have been UN peace-keeping missions since, to the Balkans and other areas, but never again anything like this.  Two dozen nations from Europe, Asia, Africa, Australia and both North and South America fought under the UN flag, to save the people and legitimate government of Korea.  Several rooms of the museum focus on the UN decision, and the UN leadership of Trygve Lie.  The museum notes that immediately upon hearing of the attack on the ROK, Lie called an emergency meeting of the Security Council for the next day, and the UN support for the ROK was proposed, argued, revised and passed the same day.  The museum names the countries which supported the UN resolution, the one who abstained (Tito’s Yugoslavia), and the member state which was absent: the USSR.  (It doesn’t mention one interesting bit: the USSR’s delegate was refusing to attend UN meetings over a totally different issue—the seating of the PRC—another partner in the attack.  But had he attended, I believe the USSR could simply have vetoed the resolution, in which case the ROK wouldn’t have been defended under the UN banner, and the UN in all likelihood would have gone down the drain like the League of Nations.)  At any rate, you get to see a diorama of Douglas MacArthur receiving the UN flag that they’d all be fighting under (see UN Flag photo).  A large area of one floor provides information on every nation that sent military personnel to Korea, as well as every nation that sent medical personnel (some of India’s and Denmark’s noncombatant personnel also died in Korea).  Each of these countries has a special area in the museum, where you can learn how they contributed, how long they were in Korea, where they fought, and how many died (see Thailand Display photo).  The information for each country is in Korean, English, and that country’s national language:  Greece’s in Greek; Colombia’s in Spanish, and so on.  Since Belgium  is bilingual, you can read or hear about Belgian forces in Korean, English, French or Nederlands.  This United Nations aspect of the war is symbolized before you even enter the museum, by the national flags of the contributing states flying in a semi-circle around of the facade (see International Flags photo).  Each of the national stories is interesting.  Luxembourg’s infantrymen were integrated for the duration with the Belgians, and although the headcount of Luxembourg fighting forces was small, as a percentage of total national population, it was one of the highest of any of the countries.  Turkey sent a brigade-size integrated unit of artillery, ordinance, engineering and transport, which inflicted ten times more enemy casualties that it received.In 1950, there were only three independent counties in sub-Saharan Africa; all three contributed.  South Africa sent pilots.  Liberia supported civilian relief.  I thought Ethiopia’s story was the most amazing of all.  Haile Selassie was a strong proponent of collective security; he’d appealed for support from the League of Nations when Mussolini invaded Ethiopia, and hadn’t gotten it.  So he wanted Ethiopia to help Korea, another innocent country, but Ethiopia had no army.  Solution: the Emperor sent his Palace Guards!  The guardsmen weren’t trained for combat, so US instructors gave them a three-month crash course, and attached them to the US 7th Infantry Division.  The Imperial Guard did just fine: the museum has videos of them marching upcountry where, among other battles, they fought at Pork Chop Hill.  The museum also addresses the impact of the war on individual men and women of the allied nations.  For example, an Aussie who left his pregnant wife to go to Korea, died there; his wife never remarried; more than half a century later her ashes were buried in the Korean grave of the husband she lost in her youth (see Mrs Shepherd photo).  Another Australian widow, Nancy Hummerston, was buried at Korea’s UN Memorial Cemetery even more recently, in 2010, sixty years after Captain Hummerston died defending the ROK.I spent the best part of a day here, and could have spent longer had they not been closing.  Among my favorite sights were:* A replica of an 500-year old dragon-bowed Korean battleship, reduced to frigate size so it would fit in the central courtyard, but still impressive (Battleship photo).* A grand gallery of military paintings around the walls of that courtyard, including Korea’s crushing defeat of a French invasion force sent by Napoleon III in 1866 (Kapkot-Jin photo; that same year Napoleon III’s army was also beaten by the Mexicans; figuring the odds of losing three in a row were negligible, the III-time loser then declared war on Prussia).  * Korean “knights” using trident-spears rather than the lances of their European counterparts (see Trident Knight photo)* An ingenious ancient Korean contraption for rapid fire of multiple arrows (see Gatling Bow photo).* Something for the children, a miniature Korean castle they can climb onto to man the bastions (Hawseong Fortress photo)* A huge drum commemorating the 60th anniversary of the founding of the ROK armed forces (Mother of All War-Drums photo).   *  A modest little inflatable Aircat airboat used by the ROK for river and marsh reconnaisance in Vietnam, and equipped with A60 machine-guns.   This beaut is outdoors with the other military hardware: big impressive fighters, bombers, heavy artillery and tanks, so the little fellow goes virtually unnoticed.  But back home in south Louisiana, “Cajuns” down on the bayous use airboats to get around in the swamps, where they hunt alligators for gumbo.  You could hunt any number and size of ‘gators you liked, if you had an A60 machine-gun on board! (ROK Aircat photo).* Also outdoors but much nearer the street, a 20-year-old exact replica of the tallest of all Korean monuments, a four-sided monster 6.39 meters high, inscribed with 1,770 Chinese calligraphs.  The original still exists, but was carted off to China long ago, and isn’t likely to be returned anytime soon. An impressive placard informs us that “The monument of King Gwanggaeto the Great (391-413) was built by his son, King Jangsu (413-491) in 414 BC in Gungnaeseong, the capital city of Goguryeo,” to honor his father’s conquests and the founding of the kingdom.  And in small print, we’re also advised  that “The translation of the inscription was advised by experts in the relevant fields in 2005.” Apparently chronology wasn’t one of the “relevant fields” that anybody was an expert in, since 414 BC precedes 391-413 BC, rather than following it.  Still, it’s an impressive replica of Korea’s grandest ancient monument.  (Monumental Error photo).