In [26]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

driver.implicitly_wait(3)
driver = webdriver.Chrome(r'C:\Users\Jeong\chromedriver.exe')
driver.get("http://www.opinet.co.kr/searRgSelect.do")

In [27]:
driver.get("http://www.opinet.co.kr/searRgSelect.do")

셀레니움을 실행시키고 원하는 홈페이지를 불러옵니다.

In [28]:
gu_list_raw = driver.find_element_by_xpath("""//*[@id="SIGUNGU_NM0"]""")

In [29]:
gu_list = gu_list_raw.find_elements_by_tag_name("option")
gu_names = [option.get_attribute("value") for option in gu_list]
gu_names.remove('')
gu_names

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

찾기 원하는 지역구를 선택하기 위해 옵션을 불러옵니다.

In [30]:
element = driver.find_element_by_id("SIGUNGU_NM0")
element.send_keys(gu_names[0])

시험 삼아 첫번째 구를 넣어봅니다.

In [31]:
xpath = """//*[@id="searRgSelect"]"""
elemnt_sel_gu = driver.find_element_by_xpath(xpath).click()

In [33]:
xpath = """//*[@id="glopopd_excel"]"""
element_get_exel = driver.find_element_by_xpath(xpath).click()

선택한 구의 주유소 정보를 엑셀파일로 저장합니다

In [36]:
import time
from tqdm import tqdm_notebook

for gu in tqdm_notebook(gu_names):
    element = driver.find_element_by_id("SIGUNGU_NM0")
    element.send_keys(gu)
    
    time.sleep(2)
    
    xpath = """//*[@id="searRgSelect"]"""
    element_sel_gu = driver.find_element_by_xpath(xpath).click()
    
    time.sleep(1)
    
    xpath = """//*[@id="glopopd_excel"]"""
    element_get_exel = driver.find_element_by_xpath(xpath).click()
    
    time.sleep(1)

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

반복문으로 서울시의 전체 구 주유소 정보를 엑셀파일로 저장합니다.

In [37]:
import pandas as pd
from glob import glob

In [38]:
glob(r'C:\Users\Jeong\data\지역*.xls')

['C:\\Users\\Jeong\\data\\지역_위치별(주유소) (1).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (10).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (11).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (12).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (13).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (14).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (15).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (16).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (17).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (18).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (19).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (2).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (20).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (21).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (22).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (23).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (24).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (3).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (4).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (5).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (6).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (7).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (8).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소) (9).xls',
 'C:\\Users\\Jeong\\data\\지역_위치별(주유소).xls']

In [ ]:
station_files = glob(r'C:\Users\Jeong\data\지역*.xls')
station_files

glob 모듈로 추출해냈던 xls파일을 모두 선택합니다.

In [41]:
tmp_raw = []

for file_name in station_files:
    tmp = pd.read_excel(file_name, header = 2)
    tmp_raw.append(tmp)
    
station_raw = pd.concat(tmp_raw)

In [42]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1484,1297,-
1,서울특별시,SK네트웍스 명일셀프주유소,서울 강동구 고덕로 168 (명일동),SK에너지,02-3428-1739,N,1715,1485,1299,-
2,서울특별시,SK네트웍스㈜암사주유소(self),서울 강동구 올림픽로 749 (암사동),SK에너지,02-3427-2043,Y,1769,1489,1319,-
3,서울특별시,고속셀프주유소,서울 강동구 천호대로 1246,SK에너지,02-487-2030,Y,1829,1499,1309,1059
4,서울특별시,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),GS칼텍스,02-426-5372,Y,-,1499,1309,-

선택한 엑셀파일들을 모두 합쳐줍니다.

In [45]:
stations = pd.DataFrame({'Oil_store' : station_raw['상호'],
                        '주소':station_raw['주소'], 
                        '가격':station_raw['휘발유'],
                       '셀프':station_raw['셀프여부'],
                       '상표':station_raw['상표']})
stations.head()

            Oil_store                      주소    가격 셀프      상표
0              구천면주유소   서울 강동구 구천면로 357 (암사동)  1484  N  현대오일뱅크
1      SK네트웍스 명일셀프주유소    서울 강동구 고덕로 168 (명일동)  1485  N   SK에너지
2  SK네트웍스㈜암사주유소(self)   서울 강동구 올림픽로 749 (암사동)  1489  Y   SK에너지
3             고속셀프주유소        서울 강동구 천호대로 1246  1499  Y   SK에너지
4      지에스칼텍스㈜ 동서울주유소  서울 강동구 천호대로 1456 (상일동)  1499  Y   GS칼텍스

In [46]:
stations['구'] = [eachAddress.split()[1] for eachAddress in stations['주소']]
stations.head()

            Oil_store                      주소    가격 셀프      상표    구
0              구천면주유소   서울 강동구 구천면로 357 (암사동)  1484  N  현대오일뱅크  강동구
1      SK네트웍스 명일셀프주유소    서울 강동구 고덕로 168 (명일동)  1485  N   SK에너지  강동구
2  SK네트웍스㈜암사주유소(self)   서울 강동구 올림픽로 749 (암사동)  1489  Y   SK에너지  강동구
3             고속셀프주유소        서울 강동구 천호대로 1246  1499  Y   SK에너지  강동구
4      지에스칼텍스㈜ 동서울주유소  서울 강동구 천호대로 1456 (상일동)  1499  Y   GS칼텍스  강동구

In [47]:
stations = stations[['Oil_store','가격','상표','셀프','주소','구']]

In [48]:
stations.head()

            Oil_store    가격      상표 셀프                      주소    구
0              구천면주유소  1484  현대오일뱅크  N   서울 강동구 구천면로 357 (암사동)  강동구
1      SK네트웍스 명일셀프주유소  1485   SK에너지  N    서울 강동구 고덕로 168 (명일동)  강동구
2  SK네트웍스㈜암사주유소(self)  1489   SK에너지  Y   서울 강동구 올림픽로 749 (암사동)  강동구
3             고속셀프주유소  1499   SK에너지  Y        서울 강동구 천호대로 1246  강동구
4      지에스칼텍스㈜ 동서울주유소  1499   GS칼텍스  Y  서울 강동구 천호대로 1456 (상일동)  강동구

합친 데이터를 원하는 컬럼으로 설정해줍니다.

In [49]:
stations['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구', '강서구',
       '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '강남구'], dtype=object)

In [51]:
stations[stations['가격']=='-']

   Oil_store 가격     상표 셀프                         주소    구
11     서강주유소  -  SK에너지  N       서울 마포구 독막로 134 (창전동)  마포구
16     삼융주유소  -  SK에너지  N       서울 은평구 수색로 299 (수색동)  은평구
40     삼성주유소  -  SK에너지  N       서울 강남구 삼성로 521 (삼성동)  강남구
41     동우주유소  -  SK에너지  N  서울특별시 강남구  봉은사로 311 (논현동)  강남구

In [ ]:
stations = stations[stations['가격'] != '-']

In [ ]:
문제가 있는 데이터들을 제거해줍니다.

In [53]:
stations['가격'] = [float(value) for value in stations['가격']]

In [ ]:
가격 컬럼에 있는 데이터를 숫자형태로 바꾸어줍니다.

In [54]:
stations.reset_index(inplace=True)
del stations['index']

혹시 모르는 중복 정보를 제거해줍니다.